* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #030233;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


/* HEADER */
header {
    background-color: #030233;
    padding: 30px 0;
    border-bottom: 3px solid #100EE6;
}

header h1 {
    color: #91d3ee;
    margin-bottom: 8px;
}

header p {
    color: #ffffff;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #100EE6;
}

/*FOOTER*/

footer {
    background-color: #030233;
    color: #ffffff;

    text-align: center;

    padding: 35px 0;

    border-top: 3px solid #100EE6;
}

footer h2 {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 8px;
}

/*SEÇÕES*/
section {
    padding: 80px 0;
    border-bottom: 2px solid #100EE6;
}

section h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 18px;
    line-height: 1.7;
}

/*CARDS*/

.card {
    background-color: #ffffff;
    color: #030233;
    padding: 25px;
    margin-top: 25px;
    border-radius: 5px;
}

.card h3 {
    color: #030233;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

/*FORMULÁRIO*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*CAIXA DE TEXTO*/
input[type="text"] {
    padding: 12px;
    border: 2px solid #100EE6;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #030233;
}

/*BOTÃO*/
button {
    padding: 12px;
    background-color: #100EE6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #030233;
}
